<html>
<head>
<style type="text/css">
body {
   background-color: #ff0279; /*Default bg, similar to the background's base color*/
   background-image: url("/static/img/logo.png");
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   color: #fff;
   font-family: Sans-Serif;
}
</style>
</head>
<body>
<img src="/static/logo_letters.png" border="0" alt=""/>
<br/> 
<h2>Phytast Webservice</h2>
<h3>Console Debug: {{ response }}</h3>
</body>
</html>
